

nav {
    padding-bottom: 50px;

}


#add_subject {
    font-size: 30px;
    padding-top:100px;
    padding-left: 260px;
    padding-right: 400px;
}
#create_subject {
    font-size: 30px;
    padding-left: 500px;
    padding-right: 400px;
}

#view_subject {
    font-size: 30px;
    padding-left: 50px;
    padding-right: 200px;
}


#movie_table {
    border-collapse: collapse;
    margin: auto;
    width: 69%;
    padding-left: 50px;
}

#user_table {
    border-collapse: collapse;

}

th, td {
    border: 0.5px solid aqua;
}
th {
    background-color: darkslateblue;
}
tr:nth-child(1n) {
    background-color: lightblue;
}

tr:nth-child(2n) {
    background-color:cornflowerblue;
}

body{background-color:palevioletred;

}

a{font-size:21px;}

