{% extends '_layout.html' %}
{% block title%} selected subject {% endblock%}
{%block content%}

<p>
    <a href="{{ url_for('subject') }}"> View Subject</a>
</p>

<table id="subject_id">
    <tr>
        <th>User id</th>
        <th>Name</th>
        <th>Your Subject</th>
    </tr>
    {% for row in result %}
    <tr>
        <td> {{row.User_id}} </td>
        <td> {{row.first_name}} {{row.last_name}} </td>
        <td> {{row.Yr11_Subjects}} </td>

        <td>
            <a href="/delete?id={{row.Subject_id}}" onclick="return confirm('Are you sure')">Delete</a>
            <a href="/edit?id={{row.Subject_id}}" onclick="return confirm('Are you sure')">Edit</a>

        </td>
    </tr>
    {%endfor%}
</table>
    {%endblock%}

