{% extends '_layout.html' %}

{% block title%} selection {% endblock%}
{%block content%}

<table id="subject_selection">
    <tr>
        <th>Subject</th>
    </tr>

    {% for row in result %}
    <tr>
        <td> {{row.Yr11_Subjects}} </td>

        <td>
            <a href="/select?id={{row.id}}" onclick="return confirm('are you sure')">Select</a>

            {% if session['role'] == 'admin' %}
            <a href="/delete_admin?id={{row.id}}" onclick="return confirm('Are you sure')">Delete</a>
        </td>

    </tr>
    {% endif %}
    {%endfor%}
</table>
    {%endblock%}

